{% extends "AppCoder/template/padre.html" %}

{% load static %}

{% block page %}

<h1>About Us</h1>

{% endblock %}

{% block contenidoQueCambia %} 

<div class="about-section">
    <h1>About Us</h1>
    <p></p>
    <p>Este blog esta hecho para personas que tengan ganas de aprender  y ganas de postear todas sus ideas
        sin que nadie los juzge , esta comunidad o Blog  tiende a sorprenderte mas y mas cada vez que te adentras en el
        conociendo gente interesante y gente muy parecido a nuestro lector(oesea usted), le invito que siga  y se deje llevar
        por la gran cantidad de conocimiento que posee esta biblioteca virtual
    </p>
  </div>
  
  
    <div class="column">
      <div class="card">
        <link href="" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Facundo Morcillo
          </h2>
          <p class="title">Python Django Developer</p>
          <p>Mi nombre es Facundo Joel Morcillo , tengo 22 años y vivo en Quilmes , Argentina , estuve estudiando en la Universidad Tecnologica Nacional , la carrera de 
            de Licenciado en Informatica , luego de un tiempo me dedique a estudiar en instituciones de E-Learning , ya sea en Digital House , UTN-e-Learning - , CoderHouse , Udemy 
            donde mi meta es poder vivir de programar aprendiendo la mayoria de tecnologias posibles. Sin dejar de aprender.</p>

          <p>facundomorcillo822@gmail.com</p>
          <p>https://github.com/Facundo244</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    

{% endblock %}
